
@model  IEnumerable<AmericanService.Models.Usuario>
@{
    ViewBag.Title = "Perfiles";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }

    Layout = "~/Views/Shared/_Menu.cshtml";
    if (Session["Sid"] == null)
    {
        Response.Redirect("../Home/Index");
    }



}




<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Content/tabla.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>


<body>
    <div class="margen">
        <h2>Colaboradores</h2>
        <br />
        @using (Html.BeginForm("Buscar", "Perfil"))
        {
            <label>Buscar:</label>
            <input type="text" id="buscar_string" name="buscar_string">
            <input type="submit" value="Aceptar" />
        }

        <br />
        <div>

            @using (Html.BeginForm("Index", "Perfil"))
            {

                <label>Activos</label> <input checked="checked" id="Estado" name="Estado" type="radio" value="A">
                <label>Inactivos</label><input id="Estado" name="Estado" type="radio" value="I">
                <input type="submit" value="Filtrar">
            }




        </div>

        <br />


        <table id="diseno2">
            <tr>
                <th>Cédula</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Fecha de Ingreso (mm/dd/aaaa)</th>
                <th>Fecha de Nacimiento (mm/dd/aaaa)</th>
                <th>Supervisor</th>
                <th>Desempeño</th>
                <th>Usuario</th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.cedula</td>
                <td>@item.primer_nombre</td>
                <td>@item.segundo_nombre</td>
                <td>@item.primer_apellido</td>
                <td>@item.segundo_apellido</td>
                <td>@item.estado</td>
                <td>@item.tipo</td>
                <td>@item.fecha_ingreso</td>
                <td>@item.fecha_nacimiento</td>
                <td>@item.supervisor</td>
                <td>@item.desempeno</td>
                <td>@item.usuario</td>
                <div class="letra">
                    <td>
                        @Html.ActionLink("Editar", "Editar_otro_usuario", new { cedula = item.cedula })|
                        @Html.ActionLink("Descargar", "Descargar_PDF", new { cedula = item.cedula })|
                        @Html.ActionLink("Eliminar", "Eliminar", new { cedula = item.cedula }, new { onclick = "return confirm('¿Seguro que quieres eliminar este perfil?');" })

                    </td>
                </div>
            </tr>


            }

        </table>
    </div>
</body>

