
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
    if (Session["Sid"] == null)
    {
        Response.Redirect("../Home/Index");
    }
    if (Session["tipo"] == "Colaborador" || Session["tipo"] == "Supervisor")
    {
        Response.Redirect("../Perfil/gestionar_perfil");
    }
}
@model  IEnumerable<AmericanService.Models.Historico>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../Content/tabla.css">

</head>
<body>
    <div class="margen">
        <h2>Histórico de reclutandos</h2>
        <br />
        @using (Html.BeginForm("Buscar", "Historico"))
        {
            <label>Buscar:</label>
            <input type="text" id="buscar_string" name="buscar_string">
            <input type="submit" value="Aceptar" />
        }

        <br />

        <div>
            <table id="diseno2">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Primer nombre</th>
                        <th>Segundo nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.cedula</td>
                        <td>@item.primer_nombre</td>
                        <td>@item.segundo_nombre</td>
                        <td>@item.primer_apellido</td>
                        <td>@item.segundo_apellido</td>
                        <td>@item.descripcion</td>
                        <td>@item.fecha.ToString("dd/MMM/yyyy")</td>
                        <td>@item.cantidad</td>

                        <td>
                            @Html.ActionLink("Editar", "Editar_btn", new { cedula = item.cedula })|
                            @Html.ActionLink("Eliminar", "eliminar", new { cedula = item.cedula }, new { onclick = "return confirm('¿Seguro que quieres eliminar este registro?');" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>'
    </div>
</body>


