
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
@model  IEnumerable<AmericanService.Models.Historico>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <style>
        #diseno {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #diseno td, #diseno th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #diseno tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #diseno tr:hover {
                background-color: #ddd;
            }

            #diseno th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #25326A;
                color: white;
            }
    </style>

</head>


<h2>Histórico de reclutandos</h2>
<br />
@using (Html.BeginForm("Find", "Historico"))
{
    <label>Buscar:</label>
    <input type="text" id="buscar_string" name="buscar_string">
    <input type="submit" value="Aceptar" />
}

    <br />
    <body>
        <div>
            <table id="diseno">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cedula</td>
                            <td>@item.nombre</td>
                            <td>@item.descripcion</td>
                            <td>@item.fecha</td>
                            <td>@item.cantidad</td>

                            <td>
                                @Html.ActionLink("Editar", "Edit", new { cedula = item.cedula })|
                                @Html.ActionLink("Eliminar", "Delete", new { cedula = item.cedula })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>


