@{
    ViewBag.Title = "Index";
}


@model  IEnumerable<AmericanService.Models.Formulario>


<head>
    
</head>

<body>






    <h2>Formularios</h2>
    <br />

    <div class="container">
        
        <p>Filtrar por:</p>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                Filtro
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Experiencia en Call Center</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Experiencia en servicio al cliente</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Experiencia en cobros</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Bachillerato</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Conocimiento de Excel</a></li>

            </ul>
        </div>
    </div>


    <br />

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.cedula</td>
                <td>@item.nombre</td>
                <td>@item.fecha</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { cedula = item.cedula })|
                    @Html.ActionLink("Delete", "Delete", new { cedula = item.cedula })
                </td>
            </tr>
        }

    </table>
</body>