@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}


@model  IEnumerable<AmericanService.Models.Formulario>


<head>
    <link rel="stylesheet" href="../Content/tabla.css">
</head>

<body>
    <div class="margen">
        <h2>Formularios</h2>
        <br />
        <div>

            @using (Html.BeginForm("Index", "Formulario"))
            {

                <lable>Call Center</lable> <input id="call_center" name="call_center" type="checkbox">
                <label>Ventas</label><input id="ventas" name="ventas" type="checkbox" value="1">
                <lable>Cobros</lable> <input id="cobros" name="cobros" type="checkbox">
                <label>Servicio al Cliente</label><input id="servicio_cliente" name="servicio_cliente" type="checkbox">
                <lable>Excel</lable> <input id="excel" name="excel" type="checkbox">
                <label>Bachillerato</label><input id="bachillerato" name="bachillerato" type="checkbox">
                <input type="submit" value="Filtrar">
            }

        </div>
        <br />

        <table id="diseno">
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.cedula</td>
                    <td>@item.nombre</td>
                    <td>@item.fecha</td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { cedula = item.cedula })|
                        @Html.ActionLink("Eliminar", "Eliminar", new { cedula = item.cedula})
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
