@{
    ViewBag.Title = "Index";
}


@model  IEnumerable<AmericanService.Models.Formulario>


<head>
    
</head>

<body>

    




    <h2>Formularios</h2>
    <br />
    @using (Html.BeginForm("Filtrar", "Formulario"))
    {
        <label><input type="checkbox" id="cbox1" value="first_checkbox"> Ventas</label>
        <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Call Center</label>
        <input type="checkbox" id="cbox3" value="third_checkbox"> <label for="cbox3">Servicio al Cliente</label>
        <input type="checkbox" id="cbox4" value="fourth_checkbox"> <label for="cbox4">Cobros</label>
        <input type="checkbox" id="cbox5" value="fifth_checkbox"> <label for="cbox5">Mora30</label>
        <input type="checkbox" id="cbox6" value="sixth_checkbox"> <label for="cbox6">Mora60</label>
        <input type="checkbox" id="cbox7" value="seventh_checkbox"> <label for="cbox7">Mora90</label>
        <input type="checkbox" id="cbox8" value="eight_checkbox"> <label for="cbox8">Cartera Separada</label>
        <input type="submit" value="Aceptar" />
    }

    <br />

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.cedula</td>
                <td>@item.nombre</td>
                <td>@item.fecha</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { cedula = item.cedula })|
                    @Html.ActionLink("Delete", "Delete", new { cedula = item.cedula })
                </td>
            </tr>
        }

    </table>
</body>