@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
    if (Session["Sid"] == null)
    {
        Response.Redirect("../Home/Index");
    }
}


@model  IEnumerable<AmericanService.Models.Formulario>


<head>
    <link rel="stylesheet" href="../Content/tabla.css">
</head>

<body>
    <div class="margen">
        <h2>Formularios</h2>
        <br />
        @using (Html.BeginForm("Buscar", "Formulario"))
        {
            <label>Buscar:</label>
            <input type="text" id="buscar_string" name="buscar_string">
            <input type="submit" value="Aceptar" />
        }
        <br />
        <div>

            @using (Html.BeginForm("Filtrar", "Formulario"))
            {

                <lable>Call Center</lable> <input id="call_center" name="call_center" type="checkbox" value="1">
                <label>Ventas</label><input id="ventas" name="ventas" type="checkbox" value="1">
                <lable>Cobros</lable> <input id="cobros" name="cobros" type="checkbox" value="1">
                <label>Servicio al Cliente</label><input id="servicio_cliente" name="servicio_cliente" type="checkbox" value="1">
                <lable>Excel</lable> <input id="excel" name="excel" type="checkbox" value="1">
                <label>Bachillerato</label><input id="bachillerato" name="bachillerato" type="checkbox" value="1">
                <input type="submit" value="Filtrar">
            }
            @Html.ActionLink("Refrescar", "update_formulario")

        </div>
        <br />

        <table id="diseno2">
            <tr>
                <th>Cédula</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Fecha (mm/dd/aaaa)</th>
                <th>Opciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.cedula</td>
                    <td>@item.primer_nombre</td>
                    <td>@item.segundo_nombre</td>
                    <td>@item.primer_apellido</td>
                    <td>@item.segundo_apellido</td>
                    <td>@item.fecha</td>

                    <td>

                        @Html.ActionLink("Editar", "Editar", new { id_formulario = item.id_formulario })|
                        @Html.ActionLink("Eliminar", "Eliminar", new { cedula = item.id_formulario }, new { onclick = "return confirm('¿Seguro que quieres eliminar este formulario?');" })

                    </td>
                </tr>
            }

        </table>
    </div>
</body>
